<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/> 
		<title>Eat-da-burger!</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<img class="burger-photo" src="/assets/img/burger.jpg">
					<br>
					<form action="/" method="POST">
						<div class="form-group">
							<label for="burgerField">Enter a new burger</label>
							<input type="text" id="burgerField" name="burger">
							<button type="submit">Submit</button>
						</div>
					</form>
					<br>
					
				</div>
  		</div>
			{{{ body }}}
		</div>
	</body>
</html>